.section-title {
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    @include font--bold;

    @include maxWidth($small) {
        font-size: 35px;
        line-height: 1.5;
    }
}